* {
    box-sizing: border-box;
}

/*GLOBAL COLORS*/
:root {
    --purple: #76649E;
    --link-color: #50796B;
    --light-green: #D4E3DE;
    --gray-white: #f6f6f6;
    --light-orange: #F6E5D9;
    --light-blue: #F2F5FA;
    --black: #121213;
}


body {
    background-color: var(--gray-white);
    color: var(--black);
    width: 100%;
}

body .case-study {
    background-color: #ffffff;
}

html {
    font-size: 10px;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

p {
    font-size: 1.8rem;
    line-height: 125%;
    padding-bottom: 1.6rem;
}

a {
    color: var(--link-color);
    font-weight: 700;
    text-decoration: none;
}


hr {
    border: none;
    height: 3px;
    width: 24rem;
    background-color: var(--purple);
    text-align: left;
    margin: 0 auto 0 0;
    margin-bottom: 1.6rem;
}

p b {
    font-weight: 700;
    color: var(--purple);
}

.shadow {
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.15);
}

/* Need to make these open in new tab when they go external */
.button {
    background-color: #ffffff;
    border: 3px solid var(--link-color);
    border-radius: 30px;
    color: var(--link-color);
    font-size: 1.8rem;
    line-height: 120%;
    padding: 1.5rem 3rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.button:hover {
    background-color: var(--link-color);
    color: #ffffff;
}


/*CSS Grid + layout - mobile first*/
.container {
    display: grid;
    grid-template-rows: 85px auto;
    grid-template-columns: minmax(16px, auto) repeat(6, minmax(30px, 100px)) minmax(16px, auto);
    grid-column-gap: 16px;
}

nav {
    grid-row: 1 / span 1;
    grid-column: 1 /span 8;

}

main {
    grid-row: 2 / span 1;
    grid-column: 1 / 9;
}

.hero {
    grid-column: 1 /span 8;
    grid-row: 1 / span 1;
    padding-left: 16px;
    padding-right: 16px;
    display: grid;
    grid-template-columns: minmax(16px, auto) fit-content(1000px) minmax(16px, auto);
    grid-template-rows: repeat(3, auto);
}

.hero h1 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    justify-content: space-around
}

.hero p {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.chevron {
    margin: 16rem 50% 8rem 50%;
}

.prephub {
    background-color: var(--light-blue);
    grid-row: 2 / span 1;
    grid-column: 1 /span 8;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}


.prephub-screenshot {
    padding-top: 42px;
    height: auto;
    width: 100%;
    max-width: 700px;
}

.prephub hr {
    text-align: center;
    margin: .8rem auto;
}


/* Nav */
nav {
    background-color: #ffffff;
    border-bottom: 3px solid var(--purple);
    font-size: 1.6rem;
    position: sticky;
    top: 0;
    z-index: 5;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}

nav li {
    display: inline;
    padding-left: 32px;
}

nav li a:hover {
    color: var(--link-color);
}

nav a {
    color: var(--black);
}


.name {
    visibility: hidden;
    position: absolute;
    top: 30px;
    left: 100px;
}

.nav-links {
    position: absolute;
    top: 30px;
    right: 16px;
}

.logo {
    position: absolute;
    top: .6rem;
    padding-left: 1.6rem;

}

/*Footer*/
footer {

    grid-column: 1 / 9;
    border-top: 3px solid var(--purple);
    font-size: 25px;
    text-align: right;
    padding-right: 16px
}

footer ul {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

footer li {
    display: inline;
    padding: 8px;
    opacity: .7;
    padding-bottom: 3.2rem;
}

footer a {
    color: var(--black);
}

/* Homepage Typography*/
.hero h1 {
    font-size: 4.2rem;
    line-height: 125%;
    font-family: 'Lora', 'Times New Roman', serif;
    padding-top: 160px;
}

.hero h1 span {
    color: var(--purple);
}

.hero p {
    font-size: 2.4rem;
    padding-top: 8rem;
}

.prephub h1 {
    font-size: 3.2rem;
    line-height: 125%;
    padding-top: 4.2rem;
}

.prephub h2 {
    font-family: "Lora", "Times New Roman", serif;
    font-size: 3.2rem;
    line-height: 125%;
    padding-top: 1.8rem;
}

.prephub p {
    font-size: 2rem;
    padding-top: 1.8rem;
    padding-bottom: 4.2rem;
}

/*PrepHub case study*/
.case-study h2 {
    font-size: 2.5rem;
    font-family: "Lora", "Times New Roman", serif;
    line-height: 2.8rem;
    text-transform: uppercase;
}

.case-study ul {
    list-style-type: disc;
    list-style-position: inside;
    padding-top: 1.6rem;
}

.case-study li,
.case-study p {
    font-size: 1.8rem;
    line-height: 2.8rem;
}

.headline {
    grid-column: 2 / 8;
    margin-top: 2.4rem;
}

.headline h2 {
    line-height: 125%;
    max-width: 20rem;
    padding-bottom: 1.6rem;
    padding-top: 1.6rem;
}

.main-topics {
    display: grid;
    grid-template-columns: minmax(1px, auto) repeat(6, minmax(30px, 100px)) minmax(1px, auto);
    grid-column-gap: 16px;
}

.main-topics h1 {
    grid-column: 2/7;
    font-size: 4rem;

}

/* Case Study sections */

.branding-intro-container {
    position: relative;
    width: 100%;
}

.branding-intro-container p {
    background-color: var(--gray-white);
    border-radius: 3rem;
    margin: 1rem 2rem 0 2rem;
    padding: 1.6rem 3.2rem;
    padding-bottom: 1.8rem;
}

.branding-details-container {
    grid-column: 1/9;
    position: relative;
    display: grid;
    grid-template-columns: minmax(1px, auto) repeat(6, minmax(30px, 100px)) minmax(1px, auto);
    grid-column-gap: 16px;
}

.branding-details-container p {
    grid-column: 2/8;
}

.comp-analysis {
    grid-column: 1/9;
    position: relative;
    padding-top: 8rem;
    display: grid;
    grid-template-columns: minmax(1px, auto) repeat(6, minmax(30px, 100px)) minmax(1px, auto);
    grid-column-gap: 16px;
}

.comp-analysis h2,
.comp-analysis hr,
.comp-analysis p {
    grid-column: 2 / 8;
}

.comp-analysis .button {
    grid-column: 3/7;
    margin-top: 2.4rem;
}

.comp-matrix {
    grid-column: 2/8;
    justify-content: space-around;
    margin-top: 2.4rem;
    width: 100%;
    height: auto;
    ;
}

.conc h1 {
    line-height: 125%;
    max-width: 20rem;
}

.conc-p {
    padding-top: 1.6rem;
}

.dashboard-wireframe {
    grid-column: 2/8;
    margin-top: 2.4rem;
    width: 100%;
    height: auto;
}

.flow-container {
    position: relative;
    width: 100%;
}

.flow-summary {
    background-color: var(--light-green);
    border-radius: 3rem;
    margin: 1rem 2rem 0 2rem;
    padding: 1.6rem 3.2rem;
    padding-bottom: 0rem;
    
}

.flow {
    margin-top: 2.4rem;

    width: 100%;
    height: auto;
}

.frustrations {
    background-color: var(--gray-white);
    border-radius: 5rem;
    margin-top: 1.8rem;
    padding: 2.4rem 3.2rem;
}

.frustrations span {
    color: var(--purple);
    font-weight: 700;
}

.hi-fi-img {
    width: 100%;
    height: auto;
}

.hifi-menu-img {
    max-width: 24rem;
}

.hifi-modal-img {
    max-width: 40rem;
}

.hi-fi-mocks {
    position: relative;
    background-color: var(--gray-white);
    margin-top: 0rem;
    padding-top: 1.2rem;
    padding-bottom: 1.6rem;
    grid-column: 1/9;
    display: grid;
    grid-template-columns: minmax(1px, auto) repeat(6, minmax(30px, 100px)) minmax(1px, auto);
    grid-column-gap: 16px;
}

.hi-fi-mocks h2,
.hi-fi-mocks hr,
.hi-fi-mocks p,
.hi-fi-mocks .grid-view,

.hi-fi-mocks .hover-screenshot,
.hi-fi-mocks .carousel {
    grid-column: 2/8;
}

.hi-fi-mocks .left-nav {
    width: 200%;
}

.hi-fi-mocks .left-nav-1 {
    margin-top: 50%;
    grid-column: 3/4;

}

.hi-fi-mocks .left-nav-2 {
    grid-column: 5/6;

}

.carousel-cell {
    margin-right: 5rem;
}

.hi-fi-mocks .button {
    grid-column: 3/7;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
}

.icons-img {
    width: 100%;
    height: auto;
    opacity: 0.5;
}
.letter {
    padding-left: 4rem;
}

.number {
    font-size: 2.4rem;
}
.style-guide {
    grid-column: 3/7;
    margin-top: 3.2rem;
    width: 100%;
    height: auto;
}

.key-takeaways {
    background-color: var(--light-orange);
    grid-column: 1/9;
    padding-bottom: 2.4rem;
    padding-top: 1.8rem;
    display: grid;
    grid-template-columns: minmax(1px, auto) repeat(6, minmax(30px, 100px)) minmax(1px, auto);
    grid-column-gap: 16px;
}

.key-takeaways h2,
.key-takeaways hr,
.key-takeaways p {
    grid-column: 2 / 8;
}

.landing-wire {
    grid-column: 4/span 3;
    margin-top: 2.4rem;
    width: 60%;
    display: none;
}

.hi-fi-img {
    margin-bottom: 4rem;
}

.personas {
    grid-column: 1/9;
    position: relative;
    display: grid;
    grid-template-columns: minmax(1px, auto) repeat(6, minmax(30px, 100px)) minmax(1px, auto);
    grid-column-gap: 16px;
}

.personas h4 {
    font-size: 2.4rem;
    font-weight: 700;
    padding-bottom: .8rem;
    padding-top: 1.6rem;
}

.personas h5 {
    font-size: 1.8rem;
}

.personas h6 {
    font-weight: 700;
    font-size: 2.4rem;
    padding-bottom: .8rem;
}

.personas h2,
.personas hr,
.personas p {
    grid-column: 2 / 8;
}

.personas .button {
    grid-column: 3/7;
}

.persona {
    border: 3px dotted var(--purple);
    border-radius: 10%;
    grid-column: 3/7;
    margin-bottom: 2.4rem;
    padding: 3.2rem 1rem 3.2rem 1rem;

    text-align: center;

}

.persona ul {
    display: inline-block;
    text-align: left;
    width: 100%;
}


.pref-testing {
    grid-column: 1/9;
    display: grid;
    grid-template-columns: minmax(1px, auto) repeat(6, minmax(30px, 100px)) minmax(1px, auto);
    grid-column-gap: 16px;
}

.pref-testing h2,
.pref-testing hr,
.pref-testing p {
    grid-column: 2/8;
}

.pref-test-1 {
    position: relative;
    background-color: var(--light-green);
    padding-top: 4rem;
    padding-bottom: 4rem;
    grid-column: 1/9;
    display: grid;
    grid-template-columns: minmax(1px, auto) repeat(6, minmax(30px, 100px)) minmax(1px, auto);
    grid-column-gap: 16px;
}

.pref-test-2 {
    padding-top: 4rem;
    position: relative;
    background-color: var(--light-orange);
    grid-column: 1/9;
    display: grid;
    grid-template-columns: minmax(1px, auto) repeat(6, minmax(30px, 100px)) minmax(1px, auto);
    grid-column-gap: 16px;
    padding-bottom: 4rem;
}

.pref-test-img {
    grid-column: 2/8;
    height: auto;
    width: 125%;
}

.pref-test-a {
    grid-column: 2 /5;
    margin-left: 10%;
}

.pref-test-b {
    grid-column: 5/8;
    margin-left: -30%;
    padding-top: 16rem;
}

.prephub-logo {
    padding-top: 4.2rem;
}

.section-separator-hr {
    grid-column: 2 / 8;
    width: 100%;
    margin-top: 2.4rem;
    height: 4px
}


.survey-percent {
    background-color: var(--light-green);
    border-radius: 50%;
    margin-top: 1.8rem;
    padding-top: 5.6rem;
    padding-bottom: 5.6rem;
    text-align: center;
    width: 30rem;
}

.title-section {
    background-color: var(--light-blue);
    height: 100vh;
    text-align: center;
}

.title-section p {
    padding-top: .8rem;
    padding-bottom: 4.2rem;
}

.user-surveys h3 {
    font-size: 4.8rem;
    font-family: "Lora", "Times New Roman", serif;
    width: 200px;
    margin: 0 auto;
}

.user-surveys h4 {
    font-size: 3.4rem;
    font-family: "Lora", "Times New Roman", serif;
    line-height: 125%;
}

.user-surveys p {
    width: 200px;
    margin: 0 auto;
}

video {
    grid-column: 2 / 8;
    margin-top: 2.4rem;
}



.wireframes {
    background-color: var(--light-blue);
    grid-column: 1/9;
    padding-bottom: 1.8rem;
    padding-top: 1.8rem;
    display: grid;
    grid-template-columns: minmax(1px, auto) repeat(6, minmax(30px, 100px)) minmax(1px, auto);
    grid-column-gap: 16px;
}

.wireframes h2,
.wireframes hr,
.wireframes p,
.wireframes ul {
    grid-column: 2 / 8;
}

.wireframes .button {
    grid-column: 3/7;
    margin-top: 2.4rem;
}


/*tablet*/
@media screen and (min-width:575px) {


    .logo {
        padding-left: 60px;
    }

    .name {
        visibility: visible;
        left: 142px;
    }

    .nav-links {
        right: 60px;
    }

    footer {
        grid-row: 3/span 1;
        grid-column: 1 / span 8;
        font-size: 25px;
        padding-right: 60px
    }

    /*Homepage tablet*/
    .hero h1 {
        line-height: 120%;
    }

    .prephub {
        padding-left: 60px;
        padding-right: 60px;
    }

    /*PrepHub case study*/
    .branding-intro-container p {
        position: absolute;
        bottom: 0%;
    }

    .flow-summary {
        position: absolute;
        bottom: -24%;
    }

    .wireframes {
        margin-top: 10.4rem;
    }

}

/*desktop*/
@media screen and (min-width: 991px) {

    .container {
        grid-column-gap: 72px;
    }


    .name {
        left: 160px;
    }

    .nav-links {
        right: 72px;
    }

    footer {
        grid-row: 3/span 1;
        grid-column: 1 / span 8;
        font-size: 25px;
        padding-right: 72px
    }


    /*Homepage*/
    .hero {
        padding-left: 72px;
        padding-right: 72px;
        display: grid;
    }

    .prephub {
        padding-top: 8.0rem;
    }

    /*Typography for desktop*/
    .hero h1 {
        font-size: 7.2rem;
        line-height: 120%;
    }

    .hero p {
        font-size: 3.2rem;
    }
}