* {
    box-sizing: border-box;
}

body {
    background-color: #F6F6F6;
    color: #121213;
    margin: 0 auto;
    width: 100%;
}

html {
    font-size: 10px;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

p {
    font-size: 1.8rem;
    line-height: 125%;
}

a {
    text-decoration: none;
    color: #121213;
}

hr{
    border:none;
    height: 3px;
    width: 24rem;
    background-color: var(--purple);
   }

/*GLOBAL COLORS*/
:root {
    --purple: #76649E;
    --link-color: #50796B;
}

/* Nav */
nav ul {
    list-style-type: none;
    overflow: hidden;
}

nav li {
    display: inline;
    padding: 16px;
}

nav li a:hover {
    color: var(--link-color);
}

nav {
    background-color: #f6f6f6;
    border-bottom: 3px solid var(--purple);
    font-size: 1.6rem;
    opacity: 1;
    position: sticky;
    top: 0;
    z-index: 5;
}

.name {
    visibility: hidden;
    position: absolute;
    top: 30px;
    left: 100px;
}

.nav-links {
    position: absolute;
    top: 30px;
    right: 16px;
}
.logo {
    padding-left: 16px;
}

/*CSS Grid + layout - mobile first*/
.container {
    display: grid;
    grid-template-rows: 85px auto 65px;
    grid-template-columns: 16px repeat(6, 1fr) 16px;
    grid-column-gap: 16px;
}

nav {
    grid-row: 1 / span 1;
    grid-column: 1 /span 8;

}

main {
    grid-row: 2 / span 1;
    grid-column: 1 / span 8;
    display: grid;
}

.hero {
    grid-column: 1 /span 8;
    grid-row: 1 / span 1;
    display: grid;
    grid-template-columns: 16px 1fr 16px;
    grid-template-rows: 1fr 1fr;
}

.hero h1 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.hero p {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.prephub {
    grid-row: 2 / span 1;
    grid-column: 1 /span 8;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 80px;
    text-align: center;
}

.prephub-screenshot {
    height: 200px;
}

footer {
    grid-row: 3/span 1;
    grid-column: 1 / span 8;
    font-size: 25px;
    text-align: right;
    padding-right: 16px
}
footer ul{
    position:relative;
    top:30px;
}

footer li {
    display: inline;
    padding: 8px;
}

/* Homepage Typography*/
.hero h1 {
    font-size: 4.2rem;
    line-height: 125%;
    font-family: 'Lora', 'Times New Roman', serif;
    padding-top: 80px;
}

.hero h1 span {
    color: var(--purple);
}

.hero p {
    font-size: 2.4rem;
    padding-top: 8rem;
}

.hero a {
    color: var(--link-color);
    font-weight: 700;
}

.prephub h1 {
    font-size: 3.2rem;
    line-height: 125%;
    padding-top: 4.2rem;
}


.prephub h2 {
    font-family: "Lora", "Times New Roman", serif;
    font-size: 3.2rem;
    line-height: 125%;
    padding-top: 1.8rem;
}

.prephub p {
    font-size: 2rem;
    padding-top: 1.8rem;
}

/*tablet*/
@media screen and (min-width:575px) {
    .container {
        display: grid;
        grid-template-columns: 60px repeat(6, 1fr) 60px;
        grid-column-gap: 72px;
    }

    nav {
        display: grid;
        grid-template-columns: 60px repeat(6, 1fr) 60px;
    }

    .logo {
        padding-left: 60px;
    }

    .name {
        visibility: visible;
        left: 142px;
    }

    .nav-links {
        right: 60px;
    }

    .hero {
        display: grid;
        grid-template-columns: 60px 1fr 60px;
        grid-template-rows: 1fr 1fr;
    }

    .hero h1 {
        line-height: 120%;
    }

    .prephub {
        padding-left: 60px;
        padding-right: 60px;

    }

    footer {
        grid-row: 3/span 1;
        grid-column: 1 / span 8;
        font-size: 25px;
        text-align: right;
        padding-right: 60px
    }

}

/*desktop*/
@media screen and (min-width: 991px) {


    .container {
        display: grid;
        grid-template-columns: 72px repeat(6, 1fr) 72px;
        grid-column-gap: 72px;
    }

    nav {
        display: grid;
        grid-template-columns: 72px repeat(6, 1fr) 72px;
    }

    .logo {
        padding-left: 72px;
    }

    .name {
        left: 160px;
    }

    .nav-links {
        right: 72px;
    }

    .hero {
        display: grid;
        grid-template-columns: 72px 1fr 72px;
        grid-template-rows: 1fr 1fr;
    }

    footer {
        grid-row: 3/span 1;
        grid-column: 1 / span 8;
        font-size: 25px;
        text-align: right;
        padding-right: 72px
    }

    /*Typography for larger than mobile*/
    .hero h1 {
        font-size: 7.2rem;
        line-height: 120%;
    }

    .hero p {
        font-size: 3.2rem;
    }

    .prephub-screenshot {
        height: 400px;
    }
}