* {
    box-sizing: border-box;
}

body {
    background-color: #F6F6F6;
    color: #121213;
    margin: 0 auto;
    width: 100%;
}

html {
    font-size: 10px;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

p {
    font-size: 1.8rem;
    line-height: 125%;
}

a {
    text-decoration: none;
    color: #121213;
}

/*GLOBAL COLORS*/
:root {
    --purple: #76649E;
    --link-color: #50796B;
}

/* Nav */
nav ul {
    list-style-type: none;
    overflow: hidden;
}

nav li {
    display: inline;
}

nav li a:hover {
    color: var(--link-color);

}

nav {
    font-size: 1.6rem;
    height: 85px;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 100;
}

.first-half {
    float: left;
}

.second-half {
    display: relative;
    float: right;
    top: 0;
    right: 0;
}

/*Homepage Colors and Structure*/
section.hero {
    /* height: 100vh; */
    padding: 5% 10%;
}

section.prephub {
    background-color: #F2F5FA;
    text-align: center;
}

.prephub-screenshot {
    height: 200px;
}


/* Homepage Typography*/
.hero h1 {
    font-size: 4.2rem;
    line-height: 125%;
    font-family: 'Lora', 'Times New Roman', serif;
}

.hero h1 span {
    color: var(--purple);
}

.hero p {
    font-size: 2.4rem;
    padding: 5% 0;
}

.hero a {
    color: var(--link-color);
    font-weight: 700;
}

.prephub h1 {
    font-size: 3.2rem;
    padding-top: 6rem;
}

.prephub h2 {
    font-family: "Lora", "Times New Roman", serif;
    font-size: 3.2rem;
    padding-top: 1.8rem;
}

.prephub p {
    font-size: 2rem;
    padding-top: 1.8rem;
}



/*For desktop*/
@media screen and (min-width: 32rem) {

    .hero h1 {
        font-size: 7.2rem;
        line-height: 120%;
    }

    .hero p {
        font-size: 3.2rem;
    }

    .prephub-screenshot {
        height: 400px;
    }

}